*.DS_Store
*.netrwhist
*.swp
*.pyc
.bash/scripts/z/z.db
.vim/backup/*
.vim/history/*
.vim/swap/*
.vim/undo/*
.vim/bundle/vim-fugitive/doc/tags*
.vim/bundle/python-mode/doc/tags*
*internet.log
*vmpy-*.json
*ip-heartbeat.log
*ip-heartbeat.sh.log
.bash/scripts/z/z.db*
*internet.json
*internet.json
.vim/history/*
.bash/scripts/z/z.db
*.pyc
